@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

@theme {
	--font-serif:
		var(--font-serif), ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
		'Segoe UI Symbol', 'Noto Color Emoji';
	--font-sans:
		var(--font-sans), ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
		'Segoe UI Symbol', 'Noto Color Emoji';
	--font-code:
		var(--font-code), ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
		'Courier New', monospace;

	--text-xs: 0.8125rem; /* 13px */
	--breakpoint-xs: 480px;

	--color-background: oklch(0.991 0 0);
	--color-background-secondary: oklch(0.995 0 0);
	--color-background-tertiary: oklch(0.955 0 0);
	--color-background-quaternary: oklch(0.931 0 0);

	--color-foreground: oklch(0.244 0 0);
	--color-foreground-secondary: oklch(0.387 0 0);
	--color-foreground-tertiary: oklch(0.503 0 0);

	--color-brand: var(--color-blue-600);
	--color-border: oklch(0.931 0 0);
}
.dark {
	--color-background: oklch(0.168 0 0);
	--color-background-secondary: oklch(0.187 0 0);
	--color-background-tertiary: oklch(0.213 0 0);
	--color-background-quaternary: oklch(0.252 0 0);

	--color-foreground: oklch(0.949 0 0);
	--color-foreground-secondary: oklch(0.833 0 0);
	--color-foreground-tertiary: oklch(0.683 0 0);

	--color-brand: var(--color-blue-500);
	--color-border: oklch(0.252 0 0);
}

@theme {
	--animate-loop: loop 100s linear infinite;

	@keyframes loop {
		0% {
			transform: translateX(0);
		}
		100% {
			transform: translateX(-50%);
		}
	}
}

@utility no-scrollbar {
	@apply [&::-webkit-scrollbar]:hidden;
}

@layer base {
	:root {
		font-synthesis: none;
		text-rendering: optimizeLegibility;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
	*:focus {
		outline: none;
	}
	*:focus-visible {
		@apply outline-0 rounded-sm ring-2 ring-inset ring-brand;
	}
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-border, currentcolor);
	}
	::selection {
		@apply bg-zinc-200;
	}
	.dark ::selection {
		@apply bg-zinc-700;
	}

	html {
		min-width: 340px;
		scroll-behavior: smooth;
	}
	body {
		@apply bg-background text-foreground font-sans tracking-[-0.01em];
	}

	.font-serif {
		@apply italic tracking-normal leading-normal text-[17px];
	}
}

h1 {
	@apply font-[550] text-lg tracking-tight;
}
h2,
h3,
h4,
h5,
h6 {
	@apply font-medium tracking-tight;
}
img {
	@apply select-none;
}

/* 	------------
	BLOG STYLES
	-----------	*/
.prose {
	@apply dark:prose-invert text-foreground-secondary prose-headings:text-foreground prose-headings:text-base prose-headings:relative prose-headings:w-fit prose-headings:font-[550] marker:text-foreground-secondary prose-hr:border-border;
}
.prose strong {
	@apply font-medium text-foreground;
}
em {
	@apply font-serif italic tracking-normal leading-normal text-[17px] text-foreground;
}
.prose blockquote:not(.not-prose) {
	@apply font-[450] py-2;
}

/* Heading anchorlinks */
.prose .anchor {
	@apply w-fit scroll-mt-6 sm:scroll-mt-12 relative;
}
.prose .anchor:before {
	@apply font-sans absolute -left-6 -bottom-1 text-xl text-foreground-tertiary/60 opacity-0 transition-[opacity_transform] duration-200 ease-out;
	content: '#';
}
.prose *:hover > .anchor:before {
	@apply sm:opacity-100 -translate-y-0.5;
}

/* 
	Code blocks 
*/
/* Code block title tab */
figcaption[data-rehype-pretty-code-title] {
	@apply flex items-center border-b rounded-t-xl py-2.5 px-6 mt-0 text-sm text-foreground font-medium bg-background-secondary;
}

/* Code block body */
figure[data-rehype-pretty-code-figure] {
	@apply rounded-xl border shadow-xs;
}
figure[data-rehype-pretty-code-figure] pre {
	@apply font-code overflow-x-auto py-4 px-0 text-xs leading-relaxed tracking-normal rounded-xl bg-background-secondary 
		[&::-webkit-scrollbar]:h-2
		[&::-webkit-scrollbar]:border-t
		[&::-webkit-scrollbar]:border-border
		[&::-webkit-scrollbar-thumb]:rounded-b-full
		[&::-webkit-scrollbar-thumb]:bg-foreground/10;

	--code-foreground: #445175;
	--code-token-constant: #ef3997;
	--code-token-string: #3e4d75;
	--code-token-comment: #97a0b5;
	--code-token-keyword: var(--color-brand);
	--code-token-parameter: #ef3997;
	--code-token-function: #e49000;
	--code-token-string-expression: #ef3997;
	--code-token-punctuation: #445175;
	--code-token-link: var(--color-brand);
}
.dark figure[data-rehype-pretty-code-figure] pre {
	--code-foreground: #bccae7;
	--code-token-constant: #ff64aa;
	--code-token-string: #bccae7;
	--code-token-comment: #7b88a1;
	--code-token-keyword: #6593fe;
	--code-token-parameter: #ff64aa;
	--code-token-function: #efcd5d;
	--code-token-string-expression: #ff64aa;
	--code-token-punctuation: #bccae7;
	--code-token-link: #6593fe;
}

/* Code block lines */
figure[data-rehype-pretty-code-figure] pre [data-line] {
	@apply border-l-2 border-transparent px-4;
}
figure[data-rehype-pretty-code-figure] pre [data-highlighted-line] {
	@apply bg-brand/5 border-brand/80;
}

/* Code block line numbers */
code[data-line-numbers] {
	counter-reset: lineNumber;
}
code[data-line-numbers] [data-line]::before {
	@apply inline-block text-right mr-4 text-[#9ca3af]/80;
	counter-increment: lineNumber 1;
	content: counter(lineNumber);
}

/* Inline code */
.prose :not(pre) > code {
	@apply font-code py-0.5 px-1 rounded-md bg-background-tertiary text-[13px] border text-foreground;
}
.prose :not(pre) > code::after,
.prose :not(pre) > code::before {
	@apply hidden;
}
